.toolbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: var(--toolbar-height);
  justify-content: space-between;
  background-color: yellow; /* TODO: Remove this once the toolbar is implemented */
}

.toolbar-group {
  display: flex;
}

.tool-button {
  width: 35px;
  @apply p-0 rounded-none;
}
