.canvas-container {
  max-height: calc(100vh - 140px);
  min-height: calc(700px - 140px);

  @apply bg-neutral-gray-4;
  @apply flex-1 w-full h-full flex justify-start;

  .canvas {
    @apply bg-white;
    width: 100%;
    height: 100%;
  }
}
