.canvas-container {
  min-height: 600px;
  max-height: calc(100vh - var(--header-height) - var(--footer-height));

  @apply bg-neutral-gray-4;
  @apply flex-1 w-full h-full flex justify-start;

  .canvas {
    @apply bg-white;
    width: 100%;
    height: 100%;
  }
}
